* {
    padding: 0;
    margin: 0;
}

html, body, main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

@font-face {
    font-family: 'main';
    src: url(fonts/Duplet-Regular.woff2);
    font-weight: regular;
}

@font-face {
    font-family: 'secondary';
    src: url(fonts/YoloText-Semibold.otf);
    font-weight: regular;
}

main {
    font-family: secondary !important;
    color: #027239 !important;
}

.background-image {
    object-fit: fill;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: -100;
}

#main-bg {
    animation: mainFade 10s infinite;
}

#secondary-bg {
    animation: secondaryFade 10s infinite;
}

.content {
    animation: mainFade 10s infinite;
}

@keyframes mainFade {
    0%, 49.99% { opacity: 1; visibility: visible; z-index: -1; }
    50%, 100% { opacity: 0; visibility: hidden; z-index: -2; }
}

@keyframes secondaryFade {
    0%, 49.99% { opacity: 0; visibility: hidden; z-index: -2; }
    50%, 100% { opacity: 1; visibility: visible; z-index: -1; }
}

.pozoUnidad {
    font-size: 172pt;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 10;
    left: 20%;
    right: 2%;
    top: 52%;
}

.pozo2digitos {
    font-size: 172pt;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 10;
    left: 34%;
    letter-spacing: 7px;
    right: 2%;
    top: 15%;
}

/* 800x420 */
@media only screen and (max-width: 800px) {
    .pozoUnidad {
        font-size: 100pt !important;
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 10;
        left: 37%;
        right: 2%;
        top: 24%;
        /* letter-spacing: 9px; */
    }
    .pozo2digitos {
        font-size: 100pt !important;
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 10;
        left: 37%;
        right: 2%;
        top: 24%;
        /* letter-spacing: 9px; */
    }
}

/* 768x384 */
@media only screen and (max-width: 768px) {
    #monto, #resto {
        font-size: 140pt!important;
        color: #027239;
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 10;
        left: 37.5%;
        /* right: 2%; */
        /* top: 21%; */
        /* letter-spacing: 9px; */
    }
    #monto {
        position: absolute;
        top: 20%;
    }
    /* #resto {
        position: absolute;
        top: 45%;
    } */
}

/* 720x360 */
@media only screen and (max-width: 720px) {
    .pozoUnidad {
        font-size: 105pt !important;
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 10;
        left: 40%;
        right: 2%;
        top: 27%;
        /* letter-spacing: 9px; */
    }
    .pozo2digitos {
        font-size: 85pt!important;
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 10;
        left: 37%;
        right: 2%;
        top: 24%;
        /* letter-spacing: 9px; */
    }
}